.nav_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  background-color: rgb(165 209 231);
  list-style: none;
  height: 70px;
  box-sizing: border-box;
  margin: 0px;
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  list-style: none;
}

.nav_item {
  margin: 10px;
}

.cart {
  position: absolute;
  top: 25px;
  right: 70px;
}
